.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.h-full {
  height: 100%;
}

.p-2 {
  padding: var(--padding-general);
}
.w-25{
  width: 2.5rem;
}
.h-15{
  height: 1.5rem;
}
.cursor-pointer {
  cursor: pointer;
}
