:root {
  --box-round: 0.75rem;
  --gap-column: 0.5rem;
  --padding-general: 0.5rem;
  --primary-color: #c4def7;
  --background-neutral-color: rgb(243, 244, 246);
  --settings-profile-hover: rgba(243, 244, 246,0.5);
  --text-blue: rgb(39, 110, 247);
  --text-secondary-color: rgb(107, 114, 128);
  --background-search: rgb(61 81 143);
  --middle-up-text: rgb(30 42 88);
  --slight-line: rgba(255, 255, 255, 0.6);
  --text-logo:rgb(63 107 255);
}

body {
  background-color: var(--primary-color);
}

header {
  max-width: 1124px;
  margin: 1rem auto 1rem auto;
}

header div:first-child img {
  width: 2rem;
  margin-left: 0.5rem;
}

header div:last-child img {
  margin-right: 0.5rem;
  padding: 0.5rem;
}

header div:last-child img:hover{
  border-radius: 1.5rem;
  background-color: var(--settings-profile-hover);
  /* opacity: 0.6; */

}

header div:first-child span {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--text-logo);
}

.container {
  max-width: 1124px;
  margin: 0 auto;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 3fr;
  grid-gap: var(--gap-column);
  grid-template-areas:
    "right middleUp1 leftUp"
    "right middleUp2 leftUp"
    "right middleDown leftDown";
}

.left-up {
  background-color: aqua;
  border-radius: var(--box-round);
  grid-area: leftUp;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "leftUpRight leftUpLeft"
    "leftUpDown leftUpDown";
}

.left-up-right {
  background-color: white;
  grid-area: leftUpRight;
  padding: var(--gap-column);
  display: grid;
  grid-template-rows: 40% 40% 20%;
  justify-items: center;
  border-left: 1px solid var(--text-secondary-color);
  border-bottom: 1px solid var(--text-secondary-color);
}

.left-up-right span {
  font-size: 10px;
  gap: 0.25rem;
  color: var(--text-secondary-color);
}

.left-up-right div {
  justify-self: center;
  align-self: center;
}

#clock {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: var(--text-blue);
}

#date {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

#date-eng-ar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  align-items: center;
  font-size: 10px;
  gap: 0.25rem;
  color: var(--text-secondary-color);
}

#date-oghat {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;
  gap: var(--gap-column);
}
#date-oghat div {
  width: 100%;
  height: 70%;
  padding: 0.5rem 0.45rem;
  border: 1px solid var(--text-secondary-color);
  border-radius: 1.5rem;
}

.left-up-left {
  background-color: white;
  grid-area: leftUpLeft;
  padding: var(--gap-column);
  display: grid;
  grid-template-rows: 40% 40% 20%;
  justify-items: center;
  border-bottom: 1px solid var(--text-secondary-color);
}

.left-up-left div:nth-child(2){
  row-gap: 0.25rem;
}

#temprature {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#weatherQuote {
  color: black;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
}

#temprature-min-max {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  align-items: center;
  font-size: 10px;
  gap: 0.25rem;
  color: var(--text-secondary-color);
}

#forcast span {
  font-size: 10px;
  gap: 0.25rem;
  color: var(--text-secondary-color);
}

#forcast div {
  width: 100%;
  height: 92%;
  padding: 0.5rem 0.45rem;
  border: 1px solid var(--text-secondary-color);
  border-radius: 1.5rem;
}

.expand-icon {
  width: 0.4rem;
  /* padding-right: 0.125rem; */
}
.left-up-down {
  background-color: white;
  grid-area: leftUpDown;
  padding: var(--gap-column);
}

.left-down {
  background-color: transparent;
  border-radius: var(--box-round);
  grid-area: leftDown;
}

.middle-up-1 {
  background-color: white;
  border-radius: var(--box-round);
  grid-area: middleUp1;
  display: grid;
  grid-template-columns: 1fr 16fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.search-bar {
  background-color: var(--background-neutral-color);
  grid-column-start: 2;
  grid-row-start: 2;
  border-radius: 200px;
  padding: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 10fr 3fr;
  justify-items: center;
  align-items: center;
  padding: var(--padding-general);
}

.search-bar input {
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-right: 0.125rem;
  width: 100%;
}

.search-bar img {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.search-bar div img:last-of-type {
  width: 3.5rem;
  height: 1.5rem;
  background-color: var(--background-search);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  flex-grow: 2;
  border-radius: 100px;
}

.search-bar img:hover {
  cursor: pointer;
}

.middle-up-2 {
  /* background-color: yellow; */
  border-radius: var(--box-round);
  grid-area: middleUp2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: var(--gap-column);
  row-gap: var(--gap-column);
}

.item {
  background-color: white;
  border-radius: var(--box-round);
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}
.item:hover {
  cursor: pointer;
}

.item-1 {
  row-gap: 0.5rem;
}
.item-1 img {
  width: 1.5rem;
}

.item-1 span {
  color: var(--middle-up-text);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.item-2 {
  row-gap: 0.5rem;
  border-style: solid;
  border-color: rgb(0, 109, 166);
}

.item-2 img {
  width: 2.5rem;
}

.middle-down {
  background-color: transparent;
  border-radius: var(--box-round);
  grid-area: middleDown;
}

.right {
  background-color: white;
  border-radius: var(--box-round);
  grid-area: right;
}

.right-up {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--text-secondary-color);
}
.right-up span {
  font-weight: 700;
}

.right-up img {
  background-color: var(--background-neutral-color);
  padding: 0.75rem;
  border-radius: 40%;
}
.right-up img:hover {
  cursor: pointer;
}

.todo-list {
  margin-bottom: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.right-down {
  border-top: 1px solid var(--text-secondary-color);
}

.right-down > div {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.75rem;
  box-shadow: 0 0px 3px 1px rgb(0 0 0 / 0.1);
}
.right-down div input {
  background-color: transparent;
  border-style: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-right: 0.125rem;
  width: 100%;
}
.right-down div button {
  width: 1rem;
  height: 1rem;
  background-image: url(/assets/images/misc/plus.svg);
  background-size: cover;
}

/* .right input[type="checkbox"] {
  appearance: auto;
  width: 1rem;
  height: 1rem;
}
.right input[type="checkbox"]:checked {

} */

/* Create a custom checkbox */
.right input[type="checkbox"]::before {
  content: ""; /* Unicode character for a checkmark */
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: rgba(12, 181, 66, 0.4);
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(12 181 66);
}

/* Style the checkbox when it is checked */
.right input[type="checkbox"]:checked::before {
  background-color: #00ff00; /* Customize the color as per your preference */
  /* Add other desired styles for the checked checkbox */
}

.todo-list-discription {
  margin-left: auto;
}

.todo-list-discription + div > img {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
